/*****************************************************************************************************
                                    PLUGIN OPTIONS
                                        options-general.php?page=lti-seo-options
******************************************************************************************************/

@media (min-width: 300px) {
    .lti-seo-title {
        background-color: #FFA500;
        padding:10px 25px;
        /*border-radius: 3px;*/
        border: 1px solid transparent;
        margin-left: -20px;
    }

    #flseo{
        position: relative;
        z-index: 1;
    }

    #flseo .form-group {
        position: relative;
        display: block;
        width: 95%;
        overflow: hidden;
        margin: 20px auto;
        border: 1px solid #e7e7e7;
        padding: 10px;
        border-radius: 3px;
    }

    #flseo .form-group-submit {
        position: relative;
        width: 80%;
        margin: 20px auto;
    }

    #flseo .input-group {
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    #flseo .input-group .input-group {
        margin: 0 0 10px 10px;
        font-size:0.9em;
        font-weight: normal;
        clear: both;
        width: 95%;
    }

    #flseo .input-group .input-group label {
        margin: 10px 0 10px 10px;
    }

    #flseo .input-group .input-group.file-selector input[type="text"] {
        width: 97%;
        margin-left: 10px;
    }

    #flseo .input-group .input-group.file-selector input[type="button"] {
        width: 50%;
        margin: 10px auto 0;
        background-color: #1aa55f;
        border: 1px solid #16894f;
    }

    #flseo .input-group .input-group.file-selector input[type="button"]:hover {
        width: 50%;
        margin: 10px auto 0;
        background-color: #16864d;
        border: 1px solid #16894f;
    }

    #flseo .form-help-container {
        position:relative;
        background-color: #ffffff;
        float: none;
        display: block;
        width: 95%;
        border-radius: 3px;
        margin: 10px;
        border-left: 3px solid #FFA500;
        padding: 10px;
    }

    #flseo .form-help-container::before{
        color: #005eff;
        font-size:2em;
        font-family: dashicons;
        content: "\f348";
        opacity: 0.1;
    }

    #flseo label {
        margin: 0 0 25px 10px;
        display: block;
        font-weight: bold;
        font-size: 1.2em;
    }

    #flseo label >input {
        font-weight: normal;
    }

    #flseo .input-group input, .input-group textarea {
        display: block;
        width: 100%;
        height: 100%;
    }

    #flseo .input-group textarea {
        border-radius: 3px;
        max-width: 100%;
    }

    #flseo .input-group input[type="checkbox"] {
        float: right;
        margin:0.4em 5% 0 2%;
        width: 5%;
    }

    #flseo .input-group input[type="radio"] {
        float: right;
        margin: 0.4em 25% 0 2%;
        width: 5%;
    }

    #flseo .checkbox-group label {
        margin: 20px 0 10px 30px;
        display: block;
        font-weight: normal;
        font-size: 1em;
    }

    #flseo .input-group .checkbox-group label {
        margin-left: 20px;
    }

    #flseo .input-group .checkbox {
        margin-top: 25px;
    }

    #flseo .button-group-submit {
        margin: 0 auto;
        width: 300px;
        text-align: center;
    }

    #flseo ul {
        list-style-type: circle;
    }

    #flseo ul > li {
        margin-left: 2em;
    }

    #flseo .char-counter.danger {
        font-weight: bold;
        color: #d80000;
    }

    #flseo .char-counter {
        font-weight: normal;
        color: #000000;
    }

    #flseo .table {
        background-color: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        width: 100%;
        border-collapse: collapse;
    }

    #flseo .table thead{
    }

    #flseo .table th{
        border: 1px solid #e7e7e7;
        border-spacing: 0;
    }

    #flseo .table td{
        text-align:center;
        border-right: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
    }



    #flseo .table input[type="checkbox"]{
        float: none;
        text-align: center;
        width:100%;
        border:0;
        padding:0;
    }




    #lti_seo_wrapper .nav {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #lti_seo_wrapper .nav > li {
        position: relative;
        display: block;
    }
    #lti_seo_wrapper .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    #lti_seo_wrapper .nav > li > a:hover,
    #lti_seo_wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #ffd414;
    }
    #lti_seo_wrapper .nav > li.disabled > a {
        color: #777777;
    }
    #lti_seo_wrapper .nav > li.disabled > a:hover,
    #lti_seo_wrapper .nav > li.disabled > a:focus {
        color: #777777;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
    }
    #lti_seo_wrapper .nav .open > a,
    #lti_seo_wrapper .nav .open > a:hover,
    #lti_seo_wrapper .nav .open > a:focus {
        background-color: #ffa500;
        border-color: #337ab7;
    }
    #lti_seo_wrapper .nav .nav-divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    #lti_seo_wrapper .nav-tabs {
        /*border-bottom: 1px solid #dddddd;*/
        width:100%;
        margin: 0 20px;
    }
    #lti_seo_wrapper .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
        font-size: 1.2em;
    }
    #lti_seo_wrapper .nav-tabs > li > a {
        /*margin-right: 2px;*/
        line-height: 1.42857143;
        /*border: 1px solid transparent;*/
        border-radius: 0 0 6px 6px;
        text-decoration: none;
        color: #000001;
        background-color: #FFA500;

    }
    #lti_seo_wrapper .nav-tabs > li > a:hover {
        /*border-color: #eeeeee #eeeeee #dddddd;*/
    }
    #lti_seo_wrapper .nav-tabs > li.active > a,
    #lti_seo_wrapper .nav-tabs > li.active > a:hover,
    #lti_seo_wrapper .nav-tabs > li.active > a:focus {
        color: #fff;
        background-color: #774d00;
        /*border: 1px solid #dddddd;*/
        border-top-color: transparent;
        cursor: default;
    }
    #lti_seo_wrapper .nav-tabs.nav-justified {
        width: 100%;
        border-bottom: 0;
    }
    #lti_seo_wrapper .nav-tabs.nav-justified > li {
        float: none;
    }
    #lti_seo_wrapper .nav-tabs.nav-justified > li > a {
        text-align: center;
        margin-bottom: 5px;
    }
    #lti_seo_wrapper .nav-tabs.nav-justified > .dropdown .dropdown-menu {
        top: auto;
        left: auto;
    }
    @media (min-width: 768px) {
        #lti_seo_wrapper .nav-tabs.nav-justified > li {
            display: table-cell;
            width: 1%;
        }
        #lti_seo_wrapper .nav-tabs.nav-justified > li > a {
            margin-bottom: 0;
        }
    }
    .nav-tabs.nav-justified > li > a {
        margin-right: 0;
        border-radius: 4px;
    }
    #lti_seo_wrapper .nav-tabs.nav-justified > .active > a,
    #lti_seo_wrapper .nav-tabs.nav-justified > .active > a:hover,
    #lti_seo_wrapper .nav-tabs.nav-justified > .active > a:focus {
        border: 1px solid #dddddd;
    }
    @media (min-width: 768px) {
        #lti_seo_wrapper .nav-tabs.nav-justified > li > a {
            border-bottom: 1px solid #dddddd;
            border-radius: 4px 4px 0 0;
        }
        #lti_seo_wrapper .nav-tabs.nav-justified > .active > a,
        #lti_seo_wrapper .nav-tabs.nav-justified > .active > a:hover,
        #lti_seo_wrapper .nav-tabs.nav-justified > .active > a:focus {
            border-bottom-color: #ffffff;
        }
    }

    #lti_seo_wrapper .nav-stacked > li {
        float: none;
    }
    #lti_seo_wrapper .nav-stacked > li + li {
        margin-top: 2px;
        margin-left: 0;
    }
    #lti_seo_wrapper .nav-justified {
        width: 100%;
    }
    #lti_seo_wrapper .nav-justified > li {
        float: none;
    }
    #lti_seo_wrapper .nav-justified > li > a {
        text-align: center;
        margin-bottom: 5px;
    }
    #lti_seo_wrapper .nav-justified > .dropdown .dropdown-menu {
        top: auto;
        left: auto;
    }
    @media (min-width: 768px) {
        #lti_seo_wrapper .nav-justified > li {
            display: table-cell;
            width: 1%;
        }
        #lti_seo_wrapper .nav-justified > li > a {
            margin-bottom: 0;
        }
    }
    #lti_seo_wrapper .nav-tabs-justified {
        border-bottom: 0;
    }
    #lti_seo_wrapper .nav-tabs-justified > li > a {
        margin-right: 0;
        border-radius: 4px;
    }
    #lti_seo_wrapper .nav-tabs-justified > .active > a,
    #lti_seo_wrapper .nav-tabs-justified > .active > a:hover,
    #lti_seo_wrapper .nav-tabs-justified > .active > a:focus {
        border: 1px solid #dddddd;
    }
    @media (min-width: 768px) {
        #lti_seo_wrapper .nav-tabs-justified > li > a {
            border-bottom: 1px solid #dddddd;
            border-radius: 4px 4px 0 0;
        }
        #lti_seo_wrapper .nav-tabs-justified > .active > a,
        #lti_seo_wrapper .nav-tabs-justified > .active > a:hover,
        #lti_seo_wrapper .nav-tabs-justified > .active > a:focus {
            border-bottom-color: #ffffff;
        }
    }
    #lti_seo_wrapper .tab-content > .tab-pane {
        display: none;
    }
    #lti_seo_wrapper .tab-content > .active {
        display: block;
    }

    #lti_seo_wrapper .clearfix:before,
    #lti_seo_wrapper .clearfix:after,
    #lti_seo_wrapper .nav:before,
    #lti_seo_wrapper .nav:after {
        content: " ";
        display: table;
    }
    #lti_seo_wrapper .clearfix:after,
    #lti_seo_wrapper .nav:after {
        clear: both;
    }
    #lti_seo_wrapper .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #lti_seo_wrapper .pull-right {
        float: right !important;
    }
    #lti_seo_wrapper .pull-left {
        float: left !important;
    }
    #lti_seo_wrapper .hide {
        display: none !important;
    }
    #lti_seo_wrapper .show {
        display: block !important;
    }
    #lti_seo_wrapper .invisible {
        visibility: hidden;
    }
    #lti_seo_wrapper .text-hide {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }
    #lti_seo_wrapper .hidden {
        display: none !important;
    }
    #lti_seo_wrapper .affix {
        position: fixed;
    }



}

@media (min-width: 782px) {
    #flseo .form-group {
        width: 95%;
    }

    #flseo .input-group {
        float: left;
        width: 45%;
    }

    /*#flseo .form-group .form-group .input-group {*/
        /*width: 100%;*/
    /*}*/


    #flseo .form-help-container {
        width: 45%;
        float: right;

    }

    #lti_seo_wrapper .nav-tabs {
        /*border-bottom: 1px solid #dddddd;*/
        width:65%;
        margin-left:100px;

    }
}


/*****************************************************************************************************
                                    POST BOX
                                        post.php
******************************************************************************************************/


#plseo .form-group {
    position: relative;
    display: block;
    width: 95%;
    overflow: hidden;
    margin: 5px auto;
    /*border: 1px solid #e7e7e7;*/
    padding: 5px;
    /*border-radius: 3px;*/
}

#plseo .input-group {
    display: block;
    width: 95%;
    margin: 0 auto;
}

#plseo label {
    margin: 0 0 5px 3px;
    display: block;
    font-weight: bold;
    /*font-size: 1.2em;*/
}

#plseo input {
    display: block;
    width: 95%;
}

#plseo .checkbox-group label {
    margin: 5px 0 3px 10px;
    display: block;
    font-weight: normal;
}

#plseo .input-group textarea {
    border-radius: 3px;
    max-width: 100%;
}

#plseo .input-group input[type="checkbox"] {
    float: right;
    margin:0.4em 25% 0 2%;
    width: 5%;
}

#plseo .input-group input[type="radio"] {
    float: right;
    margin: 0.4em 25% 0 2%;
    width: 5%;
}

#plseo .char-counter.danger {
    font-weight: bold;
    color: #d80000;
}

#plseo .char-counter {
    font-weight: normal;
    color: #000000;
}

#plseo .input-group > .input-group.file-selector input[type="text"] {
    width: 97%;
    margin-left: 10px;
}

#plseo .input-group > .input-group.file-selector input[type="button"] {
    width: 50%;
    margin: 10px auto 0;
    background-color: #1aa55f;
    border: 1px solid #16894f;
}

#plseo .input-group > .input-group.file-selector input[type="button"]:hover {
    width: 50%;
    margin: 10px auto 0;
    background-color: #16864d;
    border: 1px solid #16894f;
}

